.navbar {
  display: flex;
  
  background-color: rgb(39,42,44);
  padding-top: 10px;
  padding-bottom: 10px;
  
 
  
}

.list {
 
  display: flex;
  list-style: none;
  margin-left: 32vh;
  font-size: 21px;
  
 
}

.item {
  margin-right: 5em;
  
}

.item a {
  color: #fff;
  text-decoration: none;
  
}

.item a:hover {
  color: #4100f3;
  text-decoration: none;
}
